.catalog-product__title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: @text-color;
}

.catalog-product__parameters {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: @featured-color;
}

.catalog-product__price {
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: @text-color;
}

.catalog-product__list {
  list-style-type: none;
  .clear;
}
