.options {
  background-color: @body-color;
  background-image: url("../img/hero-mobile1.jpg");
  background-repeat: no-repeat;
}

.options__item-toys {
  background-color: @options-dark-color;
}

.options__item-interior {
  background-color: @options-light-color;
}

.options__list {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  list-style-type: none;
  .clear;
}

.options__icon-interior {
  color: @body-color;
}
